@import "tailwindcss";
@variant hover (&:hover); /* For some reason, tailwind doesn't apply this variant by default */

@theme {
  --color-bg-base: #0e0e10;
  --color-bg-surface: #18181b;
  --color-bg-elevated: #27272a;

  --color-border: #27272a;

  --color-accent: #6366f1;

  --color-text-primary: #fafafa;
  --color-text-muted: #71717a;

  --color-diff-added: #22c55e;
  --color-diff-removed: #ef4444;
  --color-diff-changed: #f59e0b;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

code, pre, .mono {
  font-family: 'JetBrains Mono', monospace;
}